
<ion-header>

  <ion-navbar>
    <ion-title>TakePicPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-label dir="rtl" >صور الروشتة</ion-label>
    <button ion-button block (click)="takePicture()" *ngIf="!base64Image">صور الروشتة</button>
    <ion-item dir="rtl">

    <img [src]="base64Image" width="70"   *ngIf="base64Image" />
  </ion-item>

    <ion-item dir="rtl">
      <ion-label  floating>ملاحظات</ion-label>
      <ion-textarea rows="5"></ion-textarea>
    </ion-item>

    <ion-item dir="rtl">
      <ion-label  >اقتراح ادوية بديلة من الصيدلي </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <br/>
    <button ion-button block >متابعة الشراء</button>

</ion-content>
